# Python

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment

venv/
.env/

# VSCode

.vscode/


# Jupyter

.ipynb_checkpoints/

# Logs

*.log

# Build

build/
dist/
*.egg-info/

# macOS

.DS_Store

# Windows

Thumbs.db

# Temporary files

*.tmp
*.bak

# Cache

.cache/
.pytest_cache/